@import "tailwindcss";

@theme {
  --font-plus: "Plus Jakarta Sans", sans-serif;
  --font-host: "Geist Mono", monospace;
  --color-primary: #ff5f1f;
}

body {
  @apply font-plus;
  font-size: 1.125rem;
  line-height: 1.6;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

[data-comment] {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 4px;
  text-decoration-color: color-mix(in srgb, currentColor 30%, transparent);
  background-color: color-mix(in srgb, currentColor 3%, transparent);
  border-radius: 4px;
  padding: 0 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  position: relative;
  z-index: 50;
}

[data-comment]:hover {
  background-color: color-mix(in srgb, currentColor 8%, transparent);
  text-decoration-color: currentColor;
}